<form class="{{cssClass}} starforged" autocomplete="off">
    <div class="starforged-dossier">
        <div class="header">
            <div>
                <h2><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h2>
                <h2><select name="data.type">
                    {{selectOptions config.progressType selected=data.type localize=true}}
                </select></h2>
            </div>
            <div class="profile-img">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div> 
        </div>

        <div>
            <div class="difficulty-track">
                <div><h3><b>{{data.difficulty}}</b></h3></div>
                <div class="a-right">
                    {{#difficultyTrack data.track}}{{/difficultyTrack}}
                </div>
            </div>
        </div>

        <div class="progress-track">
            <center>{{#progressTrack data.progress}}{{/progressTrack}}</center>
        </div>

        <div class="starforged-generator">
            <div class="button-stack-button full progress-button clear-progress">Clear</div>
            <div class="button-stack-button full progress-button mark-progress">Progress</div>
            <div class="button-stack-button full progress-button fulfill-progress">Fulfill</div>
            <div class="button-stack-button full progress-button Complete-progress">Complete</div>
        </div>

        <div class="details">
            {{editor content=data.details target="data.details" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>
