<form class="{{cssClass}}" autocomplete="off">
    <div class="starforged-dossier">
        <div class="header">
            <div>
                <h2><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h2>
                <h3><select name="data.moveType">
                    {{selectOptions config.moveType selected=data.moveType localize=true}}
                </select></h3>
            </div>
            <div class="profile-img">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
        </div>

        <div>
            <label style="margin-left: 8px;">Description</label>
            <div class="details" style="margin-bottom: 8px;">
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
            <label style="margin-left: 8px;">Strong Hit</label>
            <div class="details" style="margin-bottom: 8px;">
                {{editor content=data.strongHit target="data.strongHit" button=true owner=owner editable=editable}}
            </div>
            <label style="margin-left: 8px;">Weak Hit</label>
            <div class="details" style="margin-bottom: 8px;">
                {{editor content=data.weakHit target="data.weakHit" button=true owner=owner editable=editable}}
            </div>
            <label style="margin-left: 8px;">Miss</label>
            <div class="details">
                {{editor content=data.miss target="data.miss" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>
</form>
